<p> 
    <div class="hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ducimus 
    quas excepturi quam assumenda ad cumque numquam saepe impedit, hic, minus 
    dolores nobis itaque vel asperiores consequuntur. Inventore velit, adipisci!
    </div>
    <div class="hide">Illum doloribus, ad, recusandae enim nostrum laborum et sunt magnam
    neque tempora beatae earum excepturi soluta sit architecto distinctio assumenda
    ex voluptatum quisquam vel. Reprehenderit repudiandae minus, officiis 
    molestiae soluta.</div>  
</p>
<button type="button" id="click-me">Hide</button>

