<h1>Welcome </h1>
<br></br>
<%= link_to 'home',  root_path %>
<%= link_to 'All the users',  users_path, remote: true %>
<%= link_to 'Display a name', display_path, remote: true %>
<%= link_to 'About Us', about_us_path, remote: true %>
<div id="result">
<h2>All you know about me is divided in different sections</h2>
<h3>A little about me</h3>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam omnis ab obcaecati magnam accusamus, corrupti sapiente nulla, quis earum, enim facere debitis exercitationem dolorem consectetur dolor reprehenderit totam! Sit, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis optio a, temporibus aspernatur maiores maxime voluptas aliquam velit eum veniam architecto quas, ipsa totam distinctio exercitationem placeat neque, possimus ut.</p>
</div>
 